<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Learning TurboGears 2.0: Quick guide to the Quickstart pages.</title>
</head>

<body>
<div>
    <h2><span><b>Desarrollo</b></span></h2> 
    <a href="${tg.url('/desarrollo/proyecto/list')}">Gestionar Proyecto</a>
    <a href="${tg.url('/desarrollo/fase/list')}">Gestionar Fase</a>
    <a href="${tg.url('/desarrollo/tipo_item/list')}">Gestionar Tipo de Item</a>
    <a href="${tg.url('/desarrollo/item/list')}">Gestionar Item</a>
    <a href="${tg.url('/desarrollo/relacion/list')}">Gestionar Relacion</a>

</div>
</body>
</html> 
